@page "/GainWeight"

<PageTitle>How to Gain Weight</PageTitle>

<h1 style="text-align:center;">How to Gain Weight</h1>

<p style="text-align:center;">There are multiple ways for people to gain weight, but you want to ensure you are doing it in a safe manner. According the the NHS Website, there are a few do's and dont's you should keep in mind when trying to gain weight. For example: DO: gain weight gradually by adding healthy calories – adults could try adding around 300 to 500 extra calories a day

eat smaller meals more often, adding healthy snacks between meals

add extra calories to your meals with cheese, nuts, and seeds.  DONT: do not rely on chocolate, cakes and sugary drinks to gain weight

do not fill up on drinks before eating meals</p>

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d3/National_Health_Service_%28England%29_logo.svg/800px-National_Health_Service_%28England%29_logo.svg.png" alt="NHS Logo" class="center">



<p style="text-align:center;">For more information, click on the link below</p>
<a style="text-align:center;" href="https://www.nhs.uk/live-well/healthy-weight/managing-your-weight/healthy-ways-to-gain-weight/">NHS Website</a>


