@page "/health"
@inject NavigationManager NavigationManager

<style>
    body {
        color: white;
    }
    .title {
        text-decoration: underline;
    }
    .centered-content {
        text-align: center;
        margin-top: 20px; /* Adjust as needed */
    }
    .goal-text {
        margin-bottom: 20px; /* Adjust as needed */
    }
</style>

<PageTitle>Health Insights</PageTitle>

<div class="centered-content">
    <h1><u class="title">Health Insights</u></h1>
    <u class="title goal-text">What is your weight goal?</u>

    <div>
        <NavLink class="nav-link" href="/gainweight">Gain Weight</NavLink>
        <NavLink class="nav-link" href="/loseweight">Lose Weight</NavLink>
        <NavLink class="nav-link" href="/maintainweight">Maintain Current Weight</NavLink>
    </div>
</div>
