@page "/Health"
@inject NavigationManager NavigationManager

<PageTitle>Health Insights</PageTitle>

<h1>Health Insights</h1>

What is your weight goal?

<div>
  <button @onclick='() => NavigateToGoal("gainweight")'>Gain Weight</button>
  <button @onclick='() => NavigateToGoal("loseweight")'>Lose Weight</button>
  <button @onclick='() => NavigateToGoal("maintainweight")'>Maintain Current Weight</button>
</div>

@code {
    // Method to navigate to the corresponding page based on the selected goal
    private void NavigateToGoal(string goal) {
        switch (goal) {
            case "gainweight":
                NavigationManager.NavigateTo("/GainWeight");
                break;
            case "loseweight":
                NavigationManager.NavigateTo("/LoseWeight");
                break;
            case "maintainweight":
                NavigationManager.NavigateTo("/MaintainWeight");
                break;
            default:
                break;
        }
    }
}
