@page "/Health"

<PageTitle>Health Insights</PageTitle>

<h1>Health Insights</h1>

What is your weight goal?

<form>
  <input type="checkbox" id="gainWeight" name="vehicle1" value="Bike">
  <label for="vehicle1"> Gain Weight</label><br>
  <input type="checkbox" id="loseWeight" name="vehicle2" value="Car">
  <label for="vehicle2"> Lose Weight</label><br>
  <input type="checkbox" id="maintainWeight" name="vehicle3" value="Boat">
  <label for="vehicle3"> Maintain Current Weight</label>
</form>