@page "/LoseWeight"

<PageTitle>How to Lose Weight</PageTitle>

<h1 style="text-align:center;">How to Lose Weight</h1>

<p style="text-align:center;">Losing weight may seem as easy as excersising a lot but there are health factors that you need to take into consideration if you want to safely lose weight. According to the NHS, you shouldn't suddenly lose weight by using a diet and you shouldnt skip meals as these may have bad effect on your body.</p>
<p style="text-align:center;">However, you should be active for at least 150 minutes each week. There are more tips on the do's and dont's on the NHS website:</p>

<div style="text-align: center;">
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d3/National_Health_Service_%28England%29_logo.svg/800px-National_Health_Service_%28England%29_logo.svg.png" alt="NHS Logo" class="center">



<p style="text-align:center;">For more information, click on the link below</p>
<a style="text-align:center;" href="https://www.nhs.uk/live-well/healthy-weight/managing-your-weight/tips-to-help-you-lose-weight/">NHS Website</a>
</div>