@page "/MaintainWeight"
<style>
    body {
        color: white;
    }
</style>

<PageTitle>How to Maintain Weight</PageTitle>

<h1 style="text-align:center;">How to Maintain Your Weight</h1>

<p style="text-align:center;">Maintaining your weight isn't as straightforward as gaining or losing weight. Your weight will naturally fluctuate due to the amount of exercise you do, how much you eat, and other external factors. The NHS recommends that you learn about calorie input as this will help you understand how much you should be eating depending on the amount of exercise you are doing.</p>

<p style="text-align:center;">Below is a link to the NHS page for managing your weight. They have some useful information on calories so that you can learn how to maintain your weight in a healthy manner.</p>

<div style="text-align: center;">
    <img width="400" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d3/National_Health_Service_%28England%29_logo.svg/800px-National_Health_Service_%28England%29_logo.svg.png" alt="NHS Logo" class="center">
    <p style="text-align:center;">For more information, click on the link below</p>
    <a style="text-align:center;" href="https://www.nhs.uk/live-well/healthy-weight/managing-your-weight/">NHS Website</a>
    <p style="text-align:center;">Here is a calorie calculator so that you can calculate how much you should be eating each day:</p>
    <a style="text-align:center;" href="https://www.calculator.net/calorie-calculator.html">Calorie Calculator</a>
    <NavLink class="nav-link" href="/health">Back</NavLink>
</div>
